{{outlet}}

{{!-- <ul class="nav nav-pills">
  <li class="active"><a href="#">Home</a></li>
  <li> <a href="#"> Upload</a></li>
</ul>
 --}}

{{input value=secret class='secret-value'}}

<button class='check-password' {{action checkPassword}}>
	Check Password
</button>

<hr>

{{#if unlocked}}
	{{#link-to }}
		<a href="http://rewards.jebbit.com/pages/image_links?image_url=http://images.jebbit.com/jebbit/Revs.jpg&link_url=http://goo.gl/j6tHwF" target="_blank">
			<img class='surprise' {{bind-attr src=url}}>
		</a>
	{{/link-to}}
{{/if}}